 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Amierul enjoy solving problem. He knows that for every achievement he have in this life is because of awesome peoples, like his parents, wife, daughter, friends and maybe, YOU supports him. He appreciates every person that fight together with him.</p>
                </div>
                <div class="col-lg-4">
                    <p>He enjoys reading. He loves to stare at the sky, as if theres nothing stop him to reach the sky. Next time when he does that, be sure to say Hello. He doesnt bite. Promise..</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Say Hi!! XD
                    </a>
                </div>
            </div>
        </div>
    </section>
